.home {
  min-height: 70vh;
  padding: 2.4rem;

  // background-image: linear-gradient(
  //   to bottom,
  //   rgba(#558fae, 0.5),
  //   #121212 25vh
  // );

  &__img {
    height: 10vh;

 
  }
}
