.maintenance {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("https://images.unsplash.com/photo-1646444254678-b937f153b221?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;

  &__message {
    max-width: 64vw;
    padding: 3.2rem 1.6rem;

    font-size: 1.6rem;
    text-align: center;
    color: #062511;
    background-color: #1db954;
    border-radius: 3px;

    span {
      display: inline-block;
      font-size: 9.6rem;
      margin-bottom: 1.6rem;
    }

    h2 {
      font-size: 3.2rem;
      margin-bottom: 1.6rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}